<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Admin Page</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href="/stylesheets/main.css" rel="stylesheet">
    </style>
</head>
<body class="h-full">
    <div class="flex min-h-full flex-col justify-start px-6 py-12 lg:px-8">
        <div>
            <div class="flex justify-between">
                <h2 class="text-xl font-semibold leading-7 text-gray-900">List of Users</h2>
                <button id="new-user-btn" type="button" class="inline-flex items-center px-3 py-1.5 border border-transparent text-xs font-semibold rounded-md text-white bg-indigo-500 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Create a new user
                </button>
            </div>
            
            <ul role="list" class="divide-y divide-grey-100 mt-5">
                <% for (const user of users){%>
                    <li class="flex justify-between gap-x-6 py-5">
                        <div class="flex min-w-0 gap-x-4">
                          <div class="min-w-0 flex-auto">
                            <p class="text-sm font-semibold leading-6 text-gray-900"><%= user.firstName %> <%= user.lastName %></p>
                            <p class="mt-1 truncate text-xs leading-5 text-gray-500"><%= user.email %> </p>
                          </div>
                        </div>
                        <div class="shrink-0 flex flex-col items-end">
                            <button id="delete-user-btn" onclick="deleteUser('<%= user.id %>')" type="button" title="Delete a user" class="material-symbols-outlined inline-flex items-center px-3 py-1.5 border border-transparent text-xs rounded-md text-red-600 bg-red-100 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                                close
                            </button>
                        </div>
            
                    </li>
                 <% }%>
            </ul>
        </div>

        <div class="mt-10">
            <h2 class="text-xl font-semibold leading-7 text-gray-900">List of Rate Limits</h2>

            <% const raetLimitsArr = Object.entries(rateLimits) %>
            <% if (raetLimitsArr.length > 0) { %>
                <ul role="list" class="divide-y divide-grey-100 mt-5">
                    <% for (const [key, value] of raetLimitsArr){%>
                        <li class="flex justify-between gap-x-6 py-5">
                            <div class="flex min-w-0 gap-x-4">
                            <div class="min-w-0 flex-auto">
                                <% const t = new Date(); %>
                                <% t.setSeconds(t.getSeconds() + value.ttl); %>
                                <p class="text-sm font-semibold leading-6 text-gray-900"><%= key %></p>
                                <p class="mt-1 truncate text-xs leading-5 text-gray-500">rate: <%= value.value %>, ttl: <%= value.ttl %>s</p>
                                <p class="mt-1 truncate text-xs leading-5 text-gray-500">Expires on <%= t %></p>
                            </div>
                            </div>
                            <div class="shrink-0 flex flex-col items-end">
                                <button id="delete-user-btn" onclick="deleteRateLimit('<%= key %>')" type="button" title="Delete a user" class="material-symbols-outlined inline-flex items-center px-3 py-1.5 border border-transparent text-xs rounded-md text-red-600 bg-red-100 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                                    close
                                </button>
                            </div>
                
                        </li>
                    <% }%>
                </ul>
            <% } else { %>
                <p class="mt-5 truncate text-xs leading-5 text-gray-500"> No active rate limits </p>
            <% } %>
        </div>
        
    </div> 
    <script>
        async function  deleteUser(userTd) {
            const response = await fetch(`/api/users/${userTd}`, {
                method: 'DELETE',
            });

            if (!response.ok) {
                const { error } = await response.json();
                alert(`Failed to delete User: ${error}`);
            }
        }

        async function deleteRateLimit(key) {
            const response = await fetch('/api/rateLimit', {
                method: 'DELETE',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ key }),
            });

            if (!response.ok) {
                const { error } = await response.json();
                alert(`Failed to delete User: ${error}`);
            }
        }

        const newUserBtn = document.getElementById('new-user-btn');

        newUserBtn.addEventListener('click', () => {
            window.location.href = '/admin/users';
        });
    </script>
</body>
</html>